@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
  height:100%;
  margin:0;
  padding:0;
}

.container{
  background-image: url('/ivin-pwa/img/dust_scratches.png');
  margin:0;
  padding:0;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;

}

.maindiv {
/* background-color: rgb(165, 160, 160); */
padding:4em;
border-radius: 2em;
border-style: solid 1px grey;

}

.theform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=text]{
  font-family: 'Nunito', sans-serif;
  border-style: none;
  border-radius: .25em;
  background-color: #e2e2e2;
  color: rgb(61, 61, 61);
  height:2em;
  text-align: center;

}

input[type=password]{
  font-family: 'Nunito', sans-serif;
  border-style: none;
  border-radius: .25em;
  background-color: #e2e2e2;
  color: rgb(61, 61, 61);
  height:2em;
  text-align: center;
}

input[type=submit]{
  font-family: 'Nunito', sans-serif;
  border-style: none;
  background-color: rgb(85, 85, 85);
  height:2.2em;
  width:100%;
  border-radius: 1em;
  color: #ffffff;

}